.full-width {
  width: 100%;
}

.empty-cart {
  text-align: center;
  padding: 40px;
}

.cart-footer {
  margin-top: 20px;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}